pydantic
xmltodict
typer
pytest
langgraph
langchain-core
fastapi
uvicorn[standard]
python-multipart
streamlit
requests
PyMuPDF
pytesseract
pillow
langchain-openai
langchain-google-genai
langchain-groq
python-dotenv
